/*
 * TKO Make 5px 0 and add 1 to the second parameter.
 */
.country-selector .zambia,
.country-selector .ZM {
    background-position: 5px 1px;
}
.country-selector .southafrica,
.country-selector .ZA {
    background-position: 5px -34px;
}
.country-selector .yemen,
.country-selector .YE {
    background-position: 5px -69px;
}
.country-selector .samoa,
.country-selector .WS {
    background-position: 5px -104px;
}
.country-selector .vanuatu,
.country-selector .VU {
    background-position: 5px -139px;
}
.country-selector .unitedstates,
.country-selector .US {
    background-position: 5px -383px;
}
.country-selector .taiwan,
.country-selector .TW {
    background-position: 5px -524px;
}
.country-selector .turkey,
.country-selector .TR {
    background-position: 5px -629px;
}
.country-selector .thailand,
.country-selector .TH {
    background-position: 5px -804px;
}
.country-selector .switzerland,
.country-selector .CH {
    background-position: 5px -944px;
}
.country-selector .argentina,
.country-selector .AR {
    background-position: 5px -6055px;
}
.country-selector .slovakia,
.country-selector .SK {
    background-position: 5px -1224px;
}
.country-selector .singapore,
.country-selector .SG {
    background-position: 5px -1294px;
}
.country-selector .sweden,
.country-selector .SE {
    background-position: 5px -1329px;
}
.country-selector .portugal,
.country-selector .PT {
    background-position: 5px -1679px;
}
.country-selector .poland,
.country-selector .PL {
    background-position: 5px -1714px;
}
.country-selector .philippines,
.country-selector .PH {
    background-position: 5px -1749px;
}
.country-selector .newzealand,
.country-selector .NZ {
    background-position: 5px -1959px;
}
.country-selector .norway,
.country-selector .NO {
    background-position: 5px -2099px;
}
.country-selector .netherlands,
.country-selector .NL {
    background-position: 5px -2134px;
}
.country-selector .malaysia,
.country-selector .MY {
    background-position: 5px -2379px;
}
.country-selector .mexico,
.country-selector .MX {
    background-position: 5px -2414px;
}
.country-selector .martinique,
.country-selector .MQ {
    background-position: 5px -2659px;
}
.country-selector .luxembourg,
.country-selector .LU {
    background-position: 5px -2904px;
}
.country-selector .southkorea,
.country-selector .KR {
    background-position: 5px -3254px;
}
.country-selector .japan,
.country-selector .JP {
    background-position: 5px -3499px;
}
.country-selector .jamaica,
.country-selector .JM {
    background-position: 5px -3569px;
}
.country-selector .italy,
.country-selector .IT {
    background-position: 5px -3604px;
}
.country-selector .israel,
.country-selector .IL {
    background-position: 5px -3709px;
}
.country-selector .ireland,
.country-selector .IE {
    background-position: 5px -3744px;
}
.country-selector .indonesia,
.country-selector .ID {
    background-position: 5px -3779px;
}
.country-selector .hungary,
.country-selector .HU {
    background-position: 5px -3814px;
}
.country-selector .hongkong,
.country-selector .HK {
    background-position: 5px -3919px;
}
.country-selector .greece,
.country-selector .GR {
    background-position: 5px -4059px;
}
.country-selector .unitedkingdom,
.country-selector .GB {
    background-position: 5px -4304px;
}
.country-selector .france,
.country-selector .reunion,
.country-selector .guadeloupe,
.country-selector .FR,
.country-selector .RE,
.country-selector .GP {
    background-position: 5px -4374px;
}
.country-selector .frenchguiana,
.country-selector .GF {
    background-position: 5px -4374px;
}
.country-selector .finland,
.country-selector .FI {
    background-position: 5px -4549px;
}
.country-selector .spain,
.country-selector .ES {
    background-position: 5px -4618px;
}
.country-selector .ecuador,
.country-selector .EC {
    background-position: 5px -4724px;
}
.country-selector .algeria,
.country-selector .DZ {
    background-position: 5px -4759px;
}
.country-selector .denmark,
.country-selector .DK {
    background-position: 5px -4864px;
}
.country-selector .germany,
.country-selector .DE {
    background-position: 5px -4934px;
}
.country-selector .egypt,
.country-selector .EG {
    background-position: 5px -69px;
}
.country-selector .czechrepublic,
.country-selector .CZ {
    background-position: 5px -4969px;
}
.country-selector .china,
.country-selector .CN,
.country-selector .C2 {
    background-position: 5px -5144px;
}
.country-selector .canada,
.country-selector .CA {
    background-position: 5px -5319px;
}
.country-selector .botswana,
.country-selector .BW {
    background-position: 5px -5389px;
}
.country-selector .belize,
.country-selector .BZ {
    background-position: 5px -5354px;
}
.country-selector .bahamas,
.country-selector .BS {
    background-position: 5px -5459px;
}
.country-selector .brazil,
.country-selector .BR {
    background-position: 5px -5494px;
}
.country-selector .bermuda,
.country-selector .BM {
    background-position: 5px -5599px;
}
.country-selector .bahrain,
.country-selector .BH {
    background-position: 5px -5704px;
}
.country-selector .belgium,
.country-selector .BE {
    background-position: 5px -5809px;
}
.country-selector .barbados,
.country-selector .BB {
    background-position: 5px -5844px;
}
.country-selector .bosniaandherzegovina,
.country-selector .BA {
    background-position: 5px -5879px;
}
.country-selector .burkinafaso,
.country-selector .BF {
    background-position: 5px -5773px;
}
.country-selector .australia,
.country-selector .AU {
    background-position: 5px -5984px;
}
.country-selector .austria,
.country-selector .AT {
    background-position: 5px -6019px;
}
.country-selector .albania,
.country-selector .AL {
    background-position: 5px -6194px;
}
.country-selector .antiguaandbarbuda,
.country-selector .AG {
    background-position: 5px -6264px;
}
.country-selector .andorra,
.country-selector .AD {
    background-position: 5px -6334px;
}
.country-selector .bulgaria,
.country-selector .BG {
    background-position: 5px -5739px;
}
.country-selector .cambodia,
.country-selector .KH {
    background-position: 5px -3397px;
}
.country-selector .caymanislands,
.country-selector .KY {
    background-position: 5px -4479px;
}
.country-selector .colombia,
.country-selector .CO {
    background-position: 5px -5109px;
}
.country-selector .croatia,
.country-selector .HR {
    background-position: 5px -3849px;
}
.country-selector .cyprus,
.country-selector .CY {
    background-position: 5px -5004px;
}
.country-selector .dominica,
.country-selector .DM {
    background-position: 5px -4829px;
}
.country-selector .dominicanrepublic,
.country-selector .DO {
    background-position: 5px -4794px;
}
.country-selector .elsalvador,
.country-selector .SV {
    background-position: 5px -979px;
}
.country-selector .eritrea,
.country-selector .ER {
    background-position: 5px -4655px;
}
.country-selector .estonia,
.country-selector .EE {
    background-position: 5px -4689px;
}
.country-selector .ethiopia,
.country-selector .ET {
    background-position: 5px -4587px;
}
.country-selector .faroeislands,
.country-selector .FO {
    background-position: 5px -4409px;
}
.country-selector .fiji,
.country-selector .FJ {
    background-position: 5px -4514px;
}
.country-selector .frenchpolynesia,
.country-selector .PF {
    background-position: 5px -1819px;
}
.country-selector .gibraltar,
.country-selector .GI {
    background-position: 5px -4199px;
}
.country-selector .greenland,
.country-selector .GL {
    background-position: 5px -4164px;
}
.country-selector .grenada,
.country-selector .GD {
    background-position: 5px -4269px;
}
.country-selector .guatemala,
.country-selector .GT {
    background-position: 5px -4024px;
}
.country-selector .honduras,
.country-selector .HN {
    background-position: 5px -3884px;
}
.country-selector .iceland,
.country-selector .IS {
    background-position: 5px -3639px;
}
.country-selector .jordan,
.country-selector .JO {
    background-position: 5px -3534px;
}
.country-selector .kenya,
.country-selector .KE {
    background-position: 5px -3464px;
}
.country-selector .kuwait,
.country-selector .KW {
    background-position: 5px -3219px;
}
.country-selector .latvia,
.country-selector .LV {
    background-position: 5px -2869px;
}
.country-selector .lesotho,
.country-selector .LS {
    background-position: 5px -2974px;
}
.country-selector .liechtenstein,
.country-selector .LI {
    background-position: 5px -3044px;
}
.country-selector .lithuania,
.country-selector .LT {
    background-position: 5px -2939px;
}
.country-selector .malawi,
.country-selector .MW {
    background-position: 5px -2449px;
}
.country-selector .malta,
.country-selector .MT {
    background-position: 5px -2554px;
}
.country-selector .mongolia,
.country-selector .MN {
    background-position: 5px -6369px;
}
.country-selector .morocco,
.country-selector .MA {
    background-position: 5px -2834px;
}
.country-selector .mozambique,
.country-selector .MZ {
    background-position: 5px -2344px;
}
.country-selector .newcaledonia,
.country-selector .NC {
    background-position: 5px -2274px;
}
.country-selector .oman,
.country-selector .OM {
    background-position: 5px -1924px;
}
.country-selector .palau,
.country-selector .PW {
    background-position: 5px -1644px;
}
.country-selector .panama,
.country-selector .PA {
    background-position: 5px -1889px;
}
.country-selector .philippines,
.country-selector .PH {
    background-position: 5px -1749px;
}
.country-selector .pitcairnislands,
.country-selector .PN {
    background-position: 5px -6229px;
}
.country-selector .qatar,
.country-selector .QA {
    background-position: 5px -5704px;
}
.country-selector .romania,
.country-selector .RO {
    background-position: 5px -1539px;
}
.country-selector .russia,
.country-selector .RU {
    background-position: 5px -1503px;
}
.country-selector .rwanda,
.country-selector .RW {
    background-position: 5px -6439px;
}
.country-selector .saotomeandprincipe,
.country-selector .ST {
    background-position: 5px -1014px;
}
.country-selector .saintkittsandnevis,
.country-selector .KN {
    background-position: 5px -3289px;
}
.country-selector .sainthelena,
.country-selector .SH {
    background-position: 5px -909px;
}
.country-selector .saintvincentandthegrenadines,
.country-selector .VC {
    background-position: 5px -278px;
}
.country-selector .saintlucia,
.country-selector .LC {
    background-position: 5px -3079px;
}
.country-selector .saintpierreandmiquelon,
.country-selector .PM {
    background-position: 5px -6824px;
}
.country-selector .sanmarino,
.country-selector .SM {
    background-position: 5px -1154px;
}
.country-selector .saudiarabia,
.country-selector .SA {
    background-position: 5px -1434px;
}
.country-selector .seychelles,
.country-selector .SC {
    background-position: 5px -1364px;
}
.country-selector .slovenia,
.country-selector .SI {
    background-position: 5px -1259px;
}
.country-selector .tajikistan,
.country-selector .TJ {
    background-position: 5px -769px;
}
.country-selector .trinidadandtobago,
.country-selector .TT {
    background-position: 5px -594px;
}
.country-selector .unitedarabemirates,
.country-selector .AE {
    background-position: 5px -6299px;
}
.country-selector .uruguay,
.country-selector .UY {
    background-position: 5px -351px;
}
.country-selector .venezuela,
.country-selector .VE {
    background-position: 5px -244px;
}
.country-selector .india,
.country-selector .IN {
    background-position: 5px -3674px;
}
.country-selector .vietnam,
.country-selector .VN {
    background-position: 5px -174px;
}
.country-selector .angola,
.country-selector .AO {
    background-position: 5px -6089px;
}
.country-selector .anguilla,
.country-selector .AI {
    background-position: 5px -6229px;
}
.country-selector .armenia,
.country-selector .AM {
    background-position: 5px -6159px;
}
.country-selector .aruba,
.country-selector .AW {
    background-position: 5px -5949px;
}
.country-selector .azerbaijanrepublic,
.country-selector .AZ {
    background-position: 5px -5914px;
}
.country-selector .benin,
.country-selector .BJ {
    background-position: 5px -5634px;
}
.country-selector .bhutan,
.country-selector .BT {
    background-position: 5px -5424px;
}
.country-selector .bolivia,
.country-selector .BO {
    background-position: 5px -5529px;
}
.country-selector .brunei,
.country-selector .BN {
    background-position: 5px -5564px;
}
.country-selector .burundi,
.country-selector .BI {
    background-position: 5px -5669px;
}
.country-selector .capeverde,
.country-selector .CV {
    background-position: 5px -5039px;
}
.country-selector .chad,
.country-selector .TD {
    background-position: 5px -1539px;
}
.country-selector .chile,
.country-selector .CL {
    background-position: 5px -5179px;
}
.country-selector .comoros,
.country-selector .KM {
    background-position: 5px -3324px;
}
.country-selector .cookislands,
.country-selector .CK {
    background-position: 5px -5214px;
}
.country-selector .costarica,
.country-selector .CR {
    background-position: 5px -5074px;
}
.country-selector .democraticrepublicofthecongo,
.country-selector .CD {
    background-position: 5px -5284px;
}
.country-selector .djibouti,
.country-selector .DJ {
    background-position: 5px -4899px;
}
.country-selector .falklandislands,
.country-selector .FK {
    background-position: 5px -6229px;
}
.country-selector .gabonrepublic,
.country-selector .GA {
    background-position: 5px -4339px;
}
.country-selector .gambia,
.country-selector .GM {
    background-position: 5px -4129px;
}
.country-selector .georgia,
.country-selector .GE {
    background-position: 5px -6652px;
}
.country-selector .guinea,
.country-selector .guineabissau,
.country-selector .GN,
.country-selector .GW {
    background-position: 5px -3989px;
}
.country-selector .guyana,
.country-selector .GY {
    background-position: 5px -3954px;
}
.country-selector .kazakhstan,
.country-selector .KZ {
    background-position: 5px -3149px;
}
.country-selector .kiribati,
.country-selector .KI {
    background-position: 5px -3359px;
}
.country-selector .kyrgyzstan,
.country-selector .KG {
    background-position: 5px -3429px;
}
.country-selector .laos,
.country-selector .LA {
    background-position: 5px -3114px;
}
.country-selector .madagascar,
.country-selector .MG {
    background-position: 5px -2799px;
}
.country-selector .maldives,
.country-selector .MV {
    background-position: 5px -2484px;
}
.country-selector .mali,
.country-selector .ML {
    background-position: 5px -2729px;
}
.country-selector .marshallislands,
.country-selector .MH {
    background-position: 5px -2764px;
}
.country-selector .mauritania,
.country-selector .MR {
    background-position: 5px -2624px;
}
.country-selector .mauritius,
.country-selector .MU {
    background-position: 5px -2519px;
}
.country-selector .micronesia,
.country-selector .FM {
    background-position: 5px -4444px;
}
.country-selector .montserrat,
.country-selector .MS {
    background-position: 5px -2589px;
}
.country-selector .mayotte,
.country-selector .YT {
    background-position: 5px -6544px;
}
.country-selector .namibia,
.country-selector .NA {
    background-position: 5px -2309px;
}
.country-selector .nauru,
.country-selector .NR {
    background-position: 5px -2029px;
}
.country-selector .nepal,
.country-selector .NP {
    background-position: 5px -2064px;
}
.country-selector .netherlandsantilles,
.country-selector .AN {
    background-position: 5px -6124px;
}
.country-selector .nicaragua,
.country-selector .NI {
    background-position: 5px -2169px;
}
.country-selector .niger,
.country-selector .NE {
    background-position: 5px -2239px;
}
.country-selector .niue,
.country-selector .NU {
    background-position: 5px -1994px;
}
.country-selector .norfolkisland,
.country-selector .NF {
    background-position: 5px -2204px;
}
.country-selector .papuanewguinea,
.country-selector .PG {
    background-position: 5px -1784px;
}
.country-selector .peru,
.country-selector .PE {
    background-position: 5px -1854px;
}
.country-selector .republicofcongo,
.country-selector .CG {
    background-position: 5px -5284px;
}
.country-selector .senegal,
.country-selector .SN {
    background-position: 5px -1119px;
}
.country-selector .serbia,
.country-selector .RS {
    background-position: 5px -6718px;
}
.country-selector .sierraleone,
.country-selector .SL {
    background-position: 5px -1189px;
}
.country-selector .solomonislands,
.country-selector .SB {
    background-position: 5px -1399px;
}
.country-selector .somalia,
.country-selector .SO {
    background-position: 5px -1084px;
}
.country-selector .srilanka,
.country-selector .LK {
    background-position: 5px -3009px;
}
.country-selector .sthelena,
.country-selector .SH {
    background-position: 5px -909px;
}
.country-selector .suriname,
.country-selector .SR {
    background-position: 5px -1049px;
}
.country-selector .swaziland,
.country-selector .SZ {
    background-position: 5px -6509px;
}
.country-selector .svalbardandjanmayen,
.country-selector .SJ {
    background-position: 5px -2099px;
}
.country-selector .tanzania,
.country-selector .TZ {
    background-position: 5px -489px;
}
.country-selector .togo,
.country-selector .TG {
    background-position: 5px -839px;
}
.country-selector .tonga,
.country-selector .TO {
    background-position: 5px -664px;
}
.country-selector .tunisia,
.country-selector .TN {
    background-position: 5px -699px;
}
.country-selector .turkmenistan,
.country-selector .TM {
    background-position: 5px -734px;
}
.country-selector .turksandcaicos,
.country-selector .TC {
    background-position: 5px -909px;
}
.country-selector .tuvalu,
.country-selector .TV {
    background-position: 5px -559px;
}
.country-selector .uganda,
.country-selector .UG {
    background-position: 5px -419px;
}
.country-selector .ukraine,
.country-selector .UA {
    background-position: 5px -454px;
}
.country-selector .vaticancity,
.country-selector .VA {
    background-position: 5px -314px;
}
.country-selector .virginislands,
.country-selector .VG {
    background-position: 5px -209px;
}
.country-selector .wallisandfutuna,
.country-selector .WF {
    background-position: 5px -6792px;
}
.country-selector .montenegro,
.country-selector .ME {
    background-position: 5px -6859px;
}
.country-selector .macedonia,
.country-selector .MK {
    background-position: 5px -6894px;
}
.country-selector .moldova,
.country-selector .MD {
    background-position: 5px -6929px;
}
.country-selector .kosovo,
.country-selector .XK {
    background-position: 5px -6964px;
}
.country-selector .belarus,
.country-selector .BY {
    background-position: 5px -6999px;
}
.country-selector .monaco,
.country-selector .MC {
    background-position: 5px -7034px;
}
.country-selector .nigeria,
.country-selector .NG {
    background-position: 5px -7069px;
}
.country-selector .ghana,
.country-selector .GH {
    background-position: 5px -7104px;
}
.country-selector .cotedivoire,
.country-selector .CI {
    background-position: 5px -7139px;
}
.country-selector .cameroon,
.country-selector .CM {
    background-position: 5px -7174px;
}
.country-selector .zimbabwe,
.country-selector .ZW {
    background-position: 5px -7209px;
}
.country-selector .paraguay,
.country-selector .PY {
    background-position: 5px -7244px;
}
