/*
box-shadow: 0 0 10px 20px rgba(0,0,0,0.3);
background-color: rgba(0,0,0,0.3);

box-shadow: 0 0 50px 30px rgba(0,0,0,0.3);
background-color: rgba(0,0,0,0.3);
*/

body {
  color: #777;
  font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* This is where the logo goes. */
.navbar-brand {
  height: 70px;
  padding: 10px 15px;
}

#logo {
  width: 145px;
  margin-top: 8px;
}
/* Make room for the Sign In button for languages where Sign In is wider. */
.logo-sm #logo {
  width: 102px;
  margin-top: 13px;
}
/* Make the logo larger for larger devices. */
@media (min-width: 768px) {
  #logo, .logo-sm #logo {
    height: 50px;
    width: auto;
    margin-top: 0;
  }
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  height: 70px;
}

/* mobile (hamburger) toggle button */
.navbar-default .navbar-toggle {
  border-color: transparent;
  margin: 16px 0 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-toggle .icon-bar {
  width: 29px;
  height: 3px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

/* Mobile sign in button. */
.navbar-header .login {
  display: block;
  float: right;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px 16px;
  margin: 16px 8px 0 0;
  color: #777;
  text-transform: uppercase;
}

/* mobile dropdown menu */
.navbar-collapse.in {
  background-color: #fff;
  border-width: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}
/* down arrow at bottom of menu when country is clicked */
/*nav .scroll-indicator:after {
  content: "";
  left: 50%;
  height: 0;
  width: 0;
  position: relative;
  margin: -15px 0 0 -10px;
  border: 10px solid transparent;
  border-top-color: #007dc5;
}*/
nav .scroll-indicator:after {
  content: "\e604";
  font-family: icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 1em;
  margin-top: -1.2em;
  text-align: center;
  color: #007dc5;
  position: relative;
}
/* Navigation text styles */
.navbar li {
  text-transform: uppercase;
}

/* Highlight the currently selected page. */
.why .navbar .why,
.who .navbar .who,
.how .navbar .how,
.employers .navbar .employers {
  color: #007dc5;
}

.navbar a.disabled {
  opacity: 0.35;
}

.navbar .country span, .navbar .country-menu span.country-text {
  padding-left: 28px;
  background-image: url('../img/sprite-country-flags.png');
  background-repeat: no-repeat;
  display: inline-block;
}
.navbar .country-menu span.lang-text {
  text-transform: none;
}

/* Overwrite dropdown-menu bootstrap styles */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent;
}
.open .dropdown-menu {
  top: 68px;
  border-width: 0;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 24.5px;
    padding-bottom: 24.5px;
  }
  .navbar .login {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    margin-top: 19px;
  }
  .navbar-header .login {
    display: none;
  }
  .navbar .country span {
    padding: 0;
    text-indent:  100%;
    overflow: hidden;
    width: 22px;
    height: 20px;
  }
  nav .scroll-indicator:after {
    display: none;
  }
}

h1 {
  font-size: 1.6em;
  font-weight: 100;
  line-height: 1.25em;
  margin: 0.65em 0 0.945em;
}

h2, h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 0.2em;
}
h3 {
  font-size: 1.25em;
  margin-top: 1.45em;
}

.win h1, .win h2, .win h3 {
  font-weight: 200;
}

.pat-pend {
  font-size:  14%;
  letter-spacing: normal;
}

footer {
  border-top: 1px solid #ccc;
  padding: 2.85714em 0 10px;
}
footer h2 {
  font-weight: 500;
  color: #777;
}
footer h2 span {
  font-weight: 300;
}

footer ul {
  margin-bottom: 1.428em;
}
footer li {
  margin: 0.714em 0;
}
footer a {
  color: #999;
}
footer a:hover, footer a:focus {
  color: #555;
  text-decoration: none;
}
footer .icon {
  padding-left: 1.5em;
  position: relative;
}
footer .icon span {
  font-size: 1.4em;
  position: absolute;
  top: -3px;
  left: 0;
}
.icon-twitter-square {
  color: #39a9e0;
  color: #55acee;
}
.icon-facebook-square {
  color: #3b5998;
}
.icon-google-plus-square {
  color: #dd4b39;
}
.icon-linkedin {
  color: #007bb6;
}
.icon-blog-icon-box-rev {
  color: #f97e04;
}
.icon-wordpress {
  color: #464646;
}
footer .icon .icon-wordpress {
  font-size: 1.2em;
  top: -2px;
}

footer .logo {
  height: 65px;
  display: block;
  margin: 0 auto 10px;
}
footer .copyright {
  color: #999;
}

/* do not display on phone */
#social-menu {
  display: none;
}
@media (min-width: 768px) {
  #social-menu {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 25%;
    right: 0;
    width: 40px;
    height: 200px;
    padding-left: 0.15em;
    font-size: 2.5em;
  }
  #social-menu li {
    white-space: nowrap;
    overflow: hidden;
  }
  #social-menu a:after {
    content: "";
    background-color: #fff;
    opacity: .75;
    width: 25px;
    height: 28px;
    position: absolute;
    left: 7px;
    margin-top: 10px;
    border-radius: 5px;
    /*z-index: -1;*/
  }
  #social-menu a {
    color: transparent;
  }
  #social-menu a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 0px #000;
  }
  #social-menu span {
    position: relative;
    z-index: 1;
  }
  #social-menu .icon-wordpress {
    font-size: 0.85em;
  }
}

/* This is the content container. */
.view {
  margin-top: 70px;
}

img.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.35);
}
img.pull-right {
  margin: 0 0 0.75em 1em;
}
/* The blocker goes behind any dialogs or popups. */
.blocker {
  display: none;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51,51,51, 0.6);
  z-index: 1040;
}

/* Video specific styles */
.blocker .video {
  position: relative;
  height: 100%;
  border: 5px solid transparent;
  border-width: 70px 0 0;
}
.blocker iframe {
  height: 100%;
  width: 100%;
}
.blocker .close {
  color: #fff;
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  font-weight: 100;
  font-size: 40px;
  line-height: 50px;
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px 5px 0 0;
}
@media (min-width: 768px) {
  .blocker .video {
    border-width: 70px 50px 25px;
  }
  .blocker .close {
    top: 0;
    right: -50px;
    background-color: none;
  }
}

section {
  font-size: 18px;
  font-weight: 300;
  min-height: 430px;
  padding-bottom: 1.42857em;
}
section h1 {
  font-size: 2.42em;
  margin: 1.168em auto 0.584em;
}
section h2 {
  color: #007dc5;
}
section p {
  margin: 0 0 1.428em;
}
section strong {
  font-weight: 400;
}
section.desc {
  padding-top: 1.428em;
}
section ul {
  list-style: none;
}
section ul li:before {
  content: '\e600';
  position: absolute;
  margin-left: -1.5em;
  height: 1.42857143em;
  width: 1em;
  font-family: icons;
  color: rgba(119,119,119,0.5);
}
section ol {
  counter-reset:li; /* Initiate a counter */
  list-style: none;
}
section ol li {
  position: relative;
}
section ol li:before {
  content:counter(li); /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  position: absolute;
  top: 0.5em;
  left: -2.19em;
  height: 1.42857143em;
  width: 1.42857143em;
  text-align: center;
  font-size: 0.6em;
  line-height: 1.428571;
}
section ol li:after {
  content: '\e601';
  position: absolute;
  top: 0;
  left: -1.41em;
  height: 1.42857143em;
  width: 1em;
  font-family: icons;
}
.sec-img li:before {
  color: #fff;
}

@media (min-width: 768px) {
  section {
    font-size: 20px;
  }
  section h1 {
    font-size: 3.35em;
    margin: 0.854em auto 0.427em;
  }
  section ul, section ol {
    margin: 1.428em 0 1.428em 1em;
  }
}

.sec-img {
  min-height: 480px;
  background-color: #333;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: #fff;
  text-shadow: 1px 2px 1px #000;
  font-weight: 100;
}
.win .sec-img {
  font-weight: 200;
}
.sec-img h1, .sec-img  h2 {
  text-shadow: 2px 2px 1px #000;
}
.sec-img, h1, h2, h3 {
  letter-spacing: 0.075em;
}
.sec-img h2 {
  color: #fff;
}

.sec-img strong {
  font-weight: 300;

}

section .join-us-form {
  max-width: 320px;
}
section .join-us-form input {
  font-weight: 400;
  width: 69%;
  display: inline-block;
}
section .join-us-form.ptbr input {
  width: 54%;
}
section .join-us-form.esmx input {
  width: 47.8%;
}
section .join-us-form.hiin input {
  width: 68%;
}
section .join-us-form button, section .btn-primary {
  background-color: #1369b3;
  border-color: #1369b3;
}
section .btn-primary:hover {
  background-color: #115fab;
  border-color: #115fab;
}

#sec-intro {
  background-image: url('../img/bg-world2.jpg');
}
#sec-intro.gm {
  background-image: url('../img/bg-gm.jpg');
}
#sec-intro.flowers {
  background-image: url('../img/bg-flowers.jpg');
  background-position: center top;
}
#sec-intro.flowers1 {
  background-image: url('../img/bg-flowers1.jpg');
  background-position: center top;
}
#sec-intro.intro {
  background-image: url('../img/bg-intro.jpg');
}
#sec-intro.fuzzy {
  background-image: url('../img/bg-fuzzy.jpg');
}
#sec-intro.jump {
  background-image: url('../img/bg-jump.jpg');
}

#sec-intro h1 {
  text-align: center;
}
#sec-intro h2 {
  font-size: 2.42em;
  margin: 1.168em auto 0.584em;
  text-align: center;
}
@media (min-width: 768px) {
  #sec-intro h2 {
    font-size: 3.35em;
    margin: 0.854em auto 0.427em;
  }
}
#sec-intro h3 {
  font-size: 1.2em;
  text-align: center;
}
#sec-intro form {
  margin: 2.84em auto 1.42em;
}
#sec-intro .home-action {
  max-width: 320px;
  margin: 1.428em auto;
  text-align: center;
}
#sec-intro .home-action .btn {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  border-width: 0;
  background-color: transparent;
  padding: 0;
}
#sec-intro .home-action .btn img {
  height: 36px;
  width: 36px;
  vertical-align: middle;
  margin-right: 3px;
}
.win #sec-intro .home-action .btn {
  font-weight: 400;
}
@media (min-width: 768px) and (min-height: 1024px) {
  #sec-intro {
    position: relative;
    height: 800px;
  }
  #sec-intro .container {
    position: absolute;
    height: 502px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
@media (min-width: 768px) and (min-height: 1200px) {
  #sec-intro {
    position: relative;
    height: 1000px;
  }
}
#sec-security, #sec-ess {
  text-align: center;
}
#sec-security h1, #sec-ess h1,#sec-compare h1,#sec-join h1,#sec-download-files h1, .press-release section h1 {
  font-size: 2.42em;
  margin: 1.168em auto;
  /*color: #000;*/
}
#sec-security p, #sec-ess p, #sec-compare p {
  margin: 1.42857em auto;
  color: #555;
}
#sec-security .svg-wallet, #sec-security .svg-world {
  height: 80px;
  margin: 17px auto;
}
#sec-security .svg-earn {
  height: 98px;
  margin: 8px auto;
}
@media (min-width: 1024px) {
  #sec-security .row, #sec-ess .row {
    margin: 0 3.35em;
  }
}

#sec-fincom {
  background-image: url('../img/bg-lights1.jpg');
  min-height: 530px;
  padding-top: 2em;
}
#sec-fincom.lights {
  background-image: url('../img/bg-india-lights.jpg');
  background-position: 50% 75%;
}
#sec-fincom.hands {
  background-image: url('../img/bg-hands.jpg');
}
#sec-fincom.hawaii {
  background-image: url('../img/bg-hawaii.jpg');
}
#sec-fincom form {
  margin-top: 2.88em;
}

#sec-ess .svg-save, #sec-ess .svg-share {
  height: 110px;
  margin: 2px auto;
}
#sec-ess .svg-safe {
  height: 80px;
  margin: 17px auto;
}
#sec-ess .svg-share {
  height: 112px;
  margin: 1px auto;
}

#sec-empower {
  background-image: url('../img/bg-growth.jpg');
  min-height: 530px;
  padding-top: 2em;
}
#sec-empower.girl {
  background-image: url('../img/bg-girl.jpg');
  background-position: center 15%;
}
#sec-empower.soccer1 {
  background-image: url('../img/bg-soccer1.jpg');
}
#sec-empower.soccer {
  background-image: url('../img/bg-soccer.jpg');
}

#sec-empower.soccer2 {
  background-image: url('../img/bg-soccer2.jpg');
}

#sec-who {
  background-image: url('../img/bg-cuba-cars.jpg');
  min-height: 530px;
  padding-top: 2em;
}
#sec-who.collaboration {
  background-image: url('../img/bg-collaboration.jpg');
}

#sec-compare h1 {
  margin-bottom: 0;
}
#sec-compare th {
  font-weight: 200;
}
#sec-compare thead th {
  text-align: center;
}
#sec-compare .logo {
  height: 51px;
  display: block;
  margin-bottom: 0.35em;
}
#sec-compare td {
  color: #777;
  font-size: 0.9em;
  text-align: center;
  vertical-align: middle;
}
#sec-compare thead th {
  min-width: 4.5em;
}

#sec-join {
  min-height: 300px;
}
#sec-join form {
  margin-top: 2.88em;
}

/* phone or small tablet */
@media (max-width: 767px), (max-width: 768px) {
  .sec-img, #sec-intro h3 {
    font-weight: 200;
  }
  #sec-fincom h1, #sec-empower h1 {
    font-size: 2.42em;
    margin: 1.168em auto;
  }
}
@media (max-width: 320px) {
  #sec-intro form {
    max-width: 290px;
  }
}

#sec-careers {
  background-image: url('../img/bg-workers.jpg');
  background-position: top;
}
#sec-careers.mil {
  background-image: url('../img/bg-collaboration.jpg');
  background-position: center;
}

.career h1, .career h2, .career h3 {
  letter-spacing: normal;
  font-weight: 500;
}

#sec-bus-intro {
  background-image: url('../img/bg-bus-intro2.jpg');
}

#sec-how-intro {
  background-image: url('../img/bg-focus.jpg');
  background-position: left top;
  background-size: inherit;
}
#sec-how-intro.focus {
  background-image: url('../img/bg-focus1.jpg');
}
#sec-how-intro.tools {
  background-image: url('../img/bg-tools.jpg');
  background-position: 50% 40%;
}
#sec-how-pcom {
  text-align: center;
}
#sec-how-pcom h2 {
  margin-bottom: 1.67em;
}
#sec-how-pcom .svg-interest-sharing, #sec-how-pcom .svg-grow {
  height: 100px;
  margin: 7px auto;
}
#sec-how-pcom .svg-wallet-safe {
  height: 92px;
  margin: 11px auto;
}

#sec-how-gcom {
  background-image: url('../img/bg-kids-beach.jpg');
}
#sec-how-gcom.yellow {
  background-image: url('../img/bg-kids-beach3.jpg');
}
#sec-how-gcom.green {
  background-image: url('../img/bg-kids-beach2.jpg');
}
/* do not display the map on a phone. */
#sec-how-savings .map {
  position: absolute;
  left: -1000px;
}

/* do not display on phone */
@media (min-width: 768px) {
  #sec-how-intro {
    background-position: 50%;
  }
  #sec-how-savings .map {
    position: relative;
    left: 0;
    height: 284px;
    text-align: center;
  }
  #sec-how-savings iframe {
    width: 100%;
    height: 100%;
    border-width: 0;
    overflow: hidden;
    max-width: 564px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  #sec-how-intro {
    background-position: 50%;
    background-size: cover;
  }
  #sec-how-money-xfer {
    padding: 0;
  }
  #sec-how-money-xfer .row {
    background: url('../img/bg-phone-xfer.png') 2% 95px no-repeat;
    min-height: 430px;
  }
  #sec-how-money-xfer.ptbr .row {
    background: url('../ptbr/img/bg-phone-xfer.png') 2% 95px no-repeat;
  }
  #sec-how-money-xfer.esmx .row {
    background: url('../esmx/img/bg-phone-xfer.png') 2% 95px no-repeat;
  }
  #sec-how-money-xfer.zhcn .row {
    background: url('../zhcn/img/bg-phone-xfer.png') 2% 95px no-repeat;
  }
  #sec-how-money-xfer.hiin .row {
    background: url('../hiin/img/bg-phone-xfer.png') 2% 95px no-repeat;
  }
  #sec-how-money-xfer .row > div {
    float: right;
  }
}
@media (min-width: 1200px) {
  #sec-how-money-xfer .row {
    background-position: 5% 95px;
  }
}
#sec-how-debit-card {
  background-image: url('../img/bg-bicycle.jpg');
}
#sec-how-debit-card.shop {
  background-image: url('../img/bg-shopping1.jpg');
}
#sec-how-mobile {
  background-image: url('../img/bg-how-mobile.jpg');
}
#sec-how-mobile.girl {
  background-image: url('../img/bg-mobile-girl.jpg');
}
/* use a &mdash; for the bullet character */
/*#sec-how-mobile li:before {
  content: '\e078';
  content: '\2014';
}*/

#sec-bus-mobile {
  background-image: url('../img/bg-fisherman.jpg');
  /*text-shadow: none;
  background-color: #007dc5;*/
}

.employers #sec-join, .faqs #sec-join, .downloads #sec-join {
  border-top: 1px solid #ccc;
}

#sec-who-intro {
  background-image: url('../img/bg-folded-hands.jpg');
}
#sec-who-live {
  background-image: url('../img/bg-boy-kite.jpg');
}
#sec-who-principles {
  text-shadow: none;
  background-color: rgba(119,119,119,0.85);
}
#sec-who-principles h1 {
  text-shadow: none;
}
.sec-img.blue {
  background-color: #007dc5;
}
#sec-who-principles.white {
  color: #777;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
/* The chinese and Hindi font we're using doesn't display bold. Use a slightly darker color emulate bold. */
.zhcn #sec-who-principles strong, .hiin #sec-who-principles strong {
  color: #333;
  font-weight: bold;
}

#sec-pressroom {
  background-image: url('../img/bg-to-the-beach.jpg');
}
#sec-downloads {
  background-image: url('../img/bg-downloads.jpg');
}
#sec-download-files h1 {
  margin-bottom: 0;
}
.downloads section a {
  /*color: #777;*/
}
.downloads section a.btn {
  display: inline-block;
  margin: 1.428em 2em 1.428em 0;
}
.downloads section ul {
  margin: 0;
}
.notfound .view h1 {
  color: #007dc5;
  font-size: 240px;
  margin: 0;
}
.notfound .view h2 {
  font-weight: 200;
}

.notfound .view h1, .notfound .view h2, .notfound .view p {
  text-align: center;
}

.faq h1 {
  font-size: 2.42em;
  margin: 1.168em auto 0.584em;
}
.faq h2 {
  cursor: pointer;
  margin-top: 0.5em;
}
.faq h2.odd {
  background-color: #fafafa;
}
.faq-answer {
  display: none;
  font-weight: 200;
}
@media  (min-width: 768px) {
  .faq h2 {
    font-size: 1em;
  }

  .faq h2 span {
    margin-right: 0.5em;
  }
  .faq-answer {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.privacy-update {
  /*float: right;*/
  text-align: right;
}

.dialog {
  position: absolute;
  top: -10px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.35);
}
.dialog h1 {
  text-align: center;
  font-weight: 100;
  font-size: 2.6em;
  margin: 0.555555em auto;
}
.dialog .form-group {
  margin: 1.42857143em auto;
}
.dialog .toolbar {
  margin: 2.85714286em -6em;
  border-top: 1px solid #ededed;
  padding-top: 2.6em;
}
.dialog .btn {
  padding: 6px 0;
  margin: 0 5px;
  min-width: 100px;
  background-image: none;
  text-shadow: none;
}
.dialog .cancel {
  background-color: #ccc;
  border-color: #ccc;
  color: #fff;
}
.dialog .btn-primary {
  background-color: #1369b3;
  border-color: #1369b3;
}

@media (min-height: 440px) {
  .dialog {
    top: 100px;
  }
}

@media (min-width: 525px) {
  .dialog .btn {
    margin: 0 10px;
  }
}

@media (min-width: 768px) {
  .dialog {
    top: 100px;
  }
}

@media (min-width: 768px) and (min-height: 768px) {
  .dialog {
    top: 140px;
  }
}

#alert .dialog, #confirm .dialog {
  width: 100%;
}
#alert strong, #confirm strong {
  font-weight: 300;
}
#alert .msg, #confirm .msg {
  margin: 0 1.5em;
}
#alert .toolbar, #confirm .toolbar {
  margin-left: 0;
  margin-right: 0;
}
#alert button, #confirm button {
  min-width: 120px;
}
@media (min-width: 525px) {
  #alert .dialog, #confirm .dialog {
    width: 525px;
  }
}

/* Form styles */
#login-form .dialog, #contact-form .dialog {
  width: 100%;
}
#login-form .error, #contact-form .error {
  color: #f00;
  text-align: left;
}
#login-form form, #contact-form form {
  margin: 2.85714286em 14%;
  text-align: center;
}
#contact-form .dialog {
  top: 0;
  max-height: 100%;
  overflow-y: scroll;
}
@media (min-height: 600px) {
  #contact-form .dialog {
    top: 50px;
  }
}
@media (min-height: 660px) {
  #contact-form .dialog {
    top: 100px;
    height: auto;
    overflow-y: visible;
  }
}

#contact-form textarea {
  resize:vertical;
}
@media (min-width: 525px) {
  #login-form .dialog, #contact-form .dialog {
    width: 525px;
  }
  #login-form form, #contact-form form {
    margin: 2.85714286em 6em;
  }
}

/* Country dropdown menu */
.unitedstates {
  background-position: 0 -385px;
}
.brazil {
  background-position: 0 -5495px;
}
.mexico {
  background-position: 0 -2415px;
}
.china {
  background-position: 0 -5145px;
}
.india {
  background-position: 0 -3675px;
}
.philipines {
  background-position: 0 -1750px;
}
.spain {
  background-position: 0 -4620px;
}
.india {
  background-position: 0 -3675px;
}

/* Prevent auto-zooming on input fields in iOS making the page wider than can be displayed */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .form-control {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .form-control {
    font-size: 14px;
  }
}
